# These functions are
# Copyright (C) 1998-2014 T.W. Yee, University of Auckland.
# All rights reserved.



useDynLib(VGAM)


export(sm.bs, sm.ns, sm.scale.default, sm.poly, sm.scale)
exportMethods(coefficients, coef)
importFrom("stats", coefficients, coef)
export(case.names,
       coef,
       coefficients,
       df.residual,
       fitted,
       fitted.values,
       formula,
       residuals,
       variable.names,
       weights)



export(Select, subsetc)


export(simulate.vlm)
importFrom("stats", simulate)




export(family.name.vlm)
export(family.name.vglmff)
exportMethods(family.name)
export(logLik.qrrvglm)



importMethodsFrom("methods")



importFrom("stats4", BIC)
exportMethods(BIC)
export(BICvlm)
export(check.omit.constant)
export(I.col)



export(dbiclaytoncop, rbiclaytoncop, biclaytoncop)


export(bistudentt, dbistudentt)
export(dbinormcop, pbinormcop, rbinormcop, binormalcop)
export(kendall.tau)

export(expint, expexpint, expint.E1)


export(pgamma.deriv, pgamma.deriv.unscaled, truncweibull)

export(binom2.rho.ss)


export(arwz2wz)


export(link2list)
export(mlogit)


export(perks, dperks, pperks, qperks, rperks)
export(gumbelII, dgumbelII, pgumbelII, qgumbelII, rgumbelII)
export(makeham, dmakeham, pmakeham, qmakeham, rmakeham)
export(gompertz, dgompertz, pgompertz, qgompertz, rgompertz)
export(lindley, dlind, plind, rlind)


export(w.wz.merge, w.y.check, vweighted.mean.default)
export(is.parallel.matrix, is.parallel.vglm,
       is.zero.matrix, is.zero.vglm)
exportMethods(is.parallel, is.zero)


export(nvar_vlm)

importFrom("stats4", nobs)
exportMethods(nobs)



importMethodsFrom("stats4")



importFrom("stats4", AIC, coef, summary, plot, logLik, vcov)
exportMethods(AIC, AICc, coef, summary, plot, logLik, vcov)


export(npred, npred.vlm)
exportMethods(npred)
export(hatvalues, hatvaluesvlm)
exportMethods(hatvalues)
importFrom("stats", hatvalues)


importFrom("stats", dfbeta)  # Added 20140509
export(dfbeta, dfbetavlm)
exportMethods(dfbeta)


export(hatplot, hatplot.vlm)
exportMethods(hatplot)


export(VGAMenv)


export(lrtest, lrtest_vglm) 
export(update_default, update_formula)


export(nvar, nvar.vlm, nvar.vgam, nvar.rrvglm, nvar.qrrvglm, nvar.cao, nvar.rcim)
export(      nobs.vlm)


export(plota21)



export(Confint.rrnb, Confint.nb1)
export(vcovrrvglm)


export(posbernoulli.b, posbernoulli.t, posbernoulli.tb,
       aux.posbernoulli.t)
export(N.hat.posbernoulli)
export(dposbern, rposbern)



export(is.empty.list)






export(
Build.terms.vlm,
procVec,
ResSS.vgam,
vcontrol.expression, 
vplot, vplot.default, vplot.factor, vplot.list,
vplot.matrix, vplot.numeric, vvplot.factor)

export(
case.namesvlm,
variable.namesvlm
)



export(expgeometric, dexpgeom, pexpgeom, qexpgeom, rexpgeom,
genrayleigh, dgenray, pgenray, qgenray, rgenray,
exppoisson, dexppois, pexppois, qexppois, rexppois,
explogff, dexplog, pexplog, qexplog, rexplog)




export(Rcim, plotrcim0,
rcim, summaryrcim)
export(moffset)
export(plotqvar, Qvar, qvar)
export(depvar, depvar.vlm)





export(put.caption)





export(
d2theta.deta2, Deviance.categorical.data.vgam, 
lm2qrrvlm.model.matrix,
m2avglm, 
dimm)



export(is.smart, smart.mode.is, wrapup.smart, setup.smart, my1, my2)
export(
smart.expression,
get.smart, get.smart.prediction,
put.smart)



export(dbinorm, pbinorm, rbinorm, binormal)


export(pnorm2, dnorm2)







export(iam,
fill, fill1, fill2, fill3,
abbott,
amh, damh, pamh, ramh, 
bigamma.mckay,
freund61,
frechet2, dfrechet, pfrechet, qfrechet, rfrechet,
bifrankcop, dbifrankcop, pbifrankcop, rbifrankcop, 
plackett, dplack, pplack, rplack, 
benini, dbenini, pbenini, qbenini, rbenini, 
maxwell, dmaxwell, pmaxwell, qmaxwell, rmaxwell,
morgenstern,
fgm, dfgm, pfgm, rfgm,
bigumbelI,
erf, erfc, lerch, lambertW, log1pexp,
truncpareto, dtruncpareto, qtruncpareto, rtruncpareto, ptruncpareto,
paretoff, dpareto, qpareto, rpareto, ppareto,
paretoIV, dparetoIV, qparetoIV, rparetoIV, pparetoIV,
paretoIII, dparetoIII, qparetoIII, rparetoIII, pparetoIII,
paretoII, dparetoII, qparetoII, rparetoII, pparetoII,
dparetoI, qparetoI, rparetoI, pparetoI,
cgumbel, egumbel, gumbel,
dgumbel, pgumbel, qgumbel, rgumbel, 
foldnormal, dfoldnorm, pfoldnorm, qfoldnorm, rfoldnorm,
cennormal1,
cennormal, double.cennormal,
recnormal, recnormal.control, recexp1,
cenrayleigh, rayleigh, drayleigh, prayleigh, qrayleigh, rrayleigh, 
drice, rrice, riceff,
dskellam, rskellam, skellam,
inv.gaussianff, dinv.gaussian, pinv.gaussian, rinv.gaussian, waldff,
expexp1, expexp)




export(A1A2A3, a2m, AAaa.nohw,
AICvlm, AICvgam, AICrrvglm, AICqrrvglm, # AICvglm, 
anova.vgam,
anova.vglm, 
bisa, dbisa, pbisa, qbisa, rbisa,
betabinomial.ab, betabinomial,
double.expbinomial,
dbetabinom,    pbetabinom,    rbetabinom,
dbetabinom.ab, pbetabinom.ab, rbetabinom.ab,
biplot.qrrvglm,
dbort, rbort, borel.tanner,
care.exp,
cauchy, cauchy1,
concoef.cao, concoef.Coef.cao, concoef.Coef.qrrvglm, concoef.qrrvglm,
cdf, cdf.lms.bcg, cdf.lms.bcn,
cdf.lms.yjn, cdf.vglm, 
Coef.cao, Coefficients,
coefqrrvglm, 
coefvlm,
coefvsmooth.spline, coefvsmooth.spline.fit,
constraints, constraints.vlm, 
deplot, deplot.default, deplot.lms.bcg, deplot.lms.bcn,
deplot.lms.yjn, deplot.lms.yjn2, deplot.vglm, 
deviance.vlm,
df.residual_vlm,
dirmultinomial, dirmul.old,
dtheta.deta)


export(cloglog,cauchit,elogit,explink,fisherz,logc,loge,logneg,logit,
       logoff,negreciprocal,
       probit,reciprocal,rhobit,
       golf,polf,nbolf,nbolf2,Cut)
export(ordpoisson)
export(poisson.points, dpois.points)




export(m2adefault, 
erlang,
dfelix, felix,
fittedvlm, fittedvsmooth.spline, fsqrt,
formulavlm, formulaNA.VGAM,
garma, gaussianff,
hypersecant, hypersecant.1, 
hyperg,
invbinomial, InverseBrat, inverse.gaussianff,
is.Numeric,
mccullagh89, leipnik, levy,
lms.bcg.control, lms.bcn.control, lmscreg.control,
lms.yjn.control, 
lms.bcg, lms.bcn, lms.yjn, lms.yjn2,
lqnorm,
dbilogis4, pbilogis4, rbilogis4, bilogistic4,
logistic1, logistic2,
logLik.vlm,
latvar.cao, latvar.Coef.qrrvglm, latvar.rrvglm, latvar.qrrvglm,
lvplot.cao,
Rank, Rank.rrvglm, Rank.qrrvglm, Rank.cao,
Max.Coef.qrrvglm, Max.qrrvglm,
is.bell.vlm, is.bell.rrvglm, is.bell.qrrvglm, is.bell.cao, is.bell,
model.matrix.qrrvglm,
model.matrixvlm,
model.framevlm,
nakagami, dnaka, pnaka, qnaka, rnaka,
namesof,
nlminbcontrol, negloge,
Opt.Coef.qrrvglm, Opt.qrrvglm, persp.cao)


export( micmen )


export( plot.cao,
plotpreplotvgam,
plotvglm, plotvlm,
plotvsmooth.spline, powerlink,
predict.cao, predictcao,
predictors, predictors.vglm,
predictqrrvglm, predict.rrvglm,
predict.vgam,
predictvglm, predict.vlm, predictvsmooth.spline,
predictvsmooth.spline.fit,
  show.Coef.cao,
  show.Coef.qrrvglm, show.Coef.rrvglm, show.rrvglm,
  show.summary.cao, show.summary.qrrvglm,
  show.summary.rrvglm,
  show.summary.vgam,
  show.summary.vglm,
  show.summary.vlm,
  show.vanova,
show.vgam, show.vglm, show.vlm,
 show.vglmff,
show.vsmooth.spline,
process.binomial2.data.vgam, process.categorical.data.vgam,
negzero.expression,
qtplot,
qtplot.default, qtplot.gumbel, qtplot.lms.bcg,
qtplot.lms.bcn, qtplot.lms.yjn, qtplot.lms.yjn2, qtplot.vextremes, qtplot.vglm,
explot.lms.bcn,
rlplot,
rlplot.egev, rlplot.gev,
rlplot.vextremes, rlplot.vglm,
rlplot, rlplot.vglm, rrar.control)


export(
SurvS4, is.SurvS4, as.character.SurvS4,
show.SurvS4,
simple.exponential, simple.poisson,
matched.binomial,
seq2binomial, size.binomial,
stdze1, stdze2,
summary.cao, summary.grc,
  summary.qrrvglm,
summary.rrvglm,
summaryvgam, summaryvglm, summaryvlm,
s.vam, terms.vlm, 
theta2eta, Tol.Coef.qrrvglm, Tol.qrrvglm,
triangle, dtriangle, ptriangle, qtriangle, rtriangle, 
  vcovvlm,
vglm.fit, vgam.fit,
vglm.garma.control, vglm.multinomial.control,
vglm.multinomial.deviance.control, vglm.vcategorical.control,
vlm, vlm.control,
vnonlinear.control,
wweights, yeo.johnson,
dzipf, pzipf, zipf,
zeta, zetaff,
dzeta)




export(lm2vlm.model.matrix) 
export(vlm2lm.model.matrix) 







 importFrom("stats", model.matrix)
 importFrom("stats", model.frame)
 importFrom("stats", terms)







  importFrom("stats", resid)
  importFrom("stats", residuals)
  importFrom("stats", fitted)
  importFrom("stats", predict)
  importFrom("stats", df.residual)


  importFrom("stats", deviance)
  importFrom("stats", fitted.values)
  importFrom("stats", effects)
  importFrom("stats", weights)


  importFrom("stats", formula)
  importFrom("stats", case.names)
  importFrom("stats", variable.names)


  importFrom("stats", dchisq, pchisq,
             pf,
             dexp, rexp,
             dpois, ppois, qpois, rpois,
             dnorm, pnorm, qnorm, rnorm)


  importFrom("graphics", persp)










export(ddagum, rdagum, qdagum, pdagum, dagum)
export(dfisk, pfisk, qfisk, rfisk, fisk)
export(dlomax, plomax, qlomax, rlomax, lomax)
export(dinvlomax, pinvlomax, qinvlomax, rinvlomax, invlomax)
export(dparalogistic, pparalogistic, qparalogistic, rparalogistic,
       paralogistic)
export(dinvparalogistic, pinvparalogistic, qinvparalogistic, rinvparalogistic,
       invparalogistic)
export(dsinmad, psinmad, qsinmad, rsinmad, sinmad)
export(lognormal)
export(dpolono, ppolono, rpolono)
export(dgpd, pgpd, qgpd, rgpd, gpd)
export(dgev, pgev, qgev, rgev, gev, egev)
export(dlaplace, plaplace, qlaplace, rlaplace, laplace)
export(dalap, palap, qalap, ralap,
       alaplace1.control, alaplace2.control, alaplace3.control,
       alaplace1, alaplace2, alaplace3)
export(dloglap, ploglap, qloglap, rloglap)
export(loglaplace1.control, loglaplace1)
export(dlogitlap, plogitlap, qlogitlap, rlogitlap,
       logitlaplace1.control, logitlaplace1)
export(dprobitlap, pprobitlap, qprobitlap, rprobitlap)
export(dclogloglap, pclogloglap, qclogloglap, rclogloglap)
export(dcard, pcard, qcard, rcard, cardioid)
export(fff, fff.control,
       mbesselI0,
       vonmises)




export(
AA.Aa.aa, AB.Ab.aB.ab2, AB.Ab.aB.ab, ABO, acat,
beta.ab, betaff,
dbetageom, pbetageom, rbetageom, betageometric, 
dbetanorm, pbetanorm, qbetanorm, rbetanorm, # betanorm,
betaprime,
betaII,
zipebcom,
binom2.or,  dbinom2.or,  rbinom2.or,
binom2.rho, dbinom2.rho, rbinom2.rho, binom2.Rho,
binomialff, biplot.rrvglm, brat,
bratt, Brat, calibrate.qrrvglm.control, calibrate.qrrvglm,
calibrate, cao.control,
cao,
cdf.lmscreg, cgo, chisq, clo, 
ccoef, concoef,
Coef, Coef.qrrvglm, Coef.rrvglm, Coef.vlm,
predictqrrvglm,
cratio, cumulative, propodds, prplot, prplot.control)
export(
deplot.lmscreg, dirichlet,
exponential, G1G2G3)


export(
lgammaff, lgamma3ff)
export(
gammahyp,
gengamma, gamma1, gamma2, gamma2.ab, gammaff)
export(dlgamma, plgamma, qlgamma, rlgamma)
export(dgengamma, pgengamma, qgengamma, rgengamma)


export(
dbenf, pbenf, qbenf, rbenf,
genbetaII, genpoisson,
geometric, truncgeometric,
dlino, plino, qlino, rlino, lino, 
grc,
dhzeta, phzeta, qhzeta, rhzeta, hzeta, 
negidentity, identitylink,
prentice74,
amlnormal, amlbinomial, amlexponential, amlpoisson, Wr1, Wr2,
dkumar, pkumar, qkumar, rkumar, kumar,
dyules, pyules, ryules, yulesimon, 
logff, dlog, plog, rlog,
logF, dlogF,
loglinb2, loglinb3,
loglog, lognormal3,
lvplot.qrrvglm, lvplot.rrvglm,
Max, MNSs,
dmultinomial, multinomial, margeff)


export(
huber2, huber1, dhuber, edhuber, phuber, qhuber, rhuber)


export(
slash, dslash, pslash, rslash)


export(
deunif, peunif, qeunif, reunif,
denorm, penorm, qenorm, renorm,
koenker, dkoenker, pkoenker, qkoenker, rkoenker,
deexp, peexp, qeexp, reexp)


export(
meplot, meplot.default, meplot.vlm,
guplot, guplot.default, guplot.vlm,
negbinomial, negbinomial.size, polya,
uninormal, SUR, normal.vcm,
nbcanlink,
tobit, dtobit, ptobit, qtobit, rtobit,
Opt, 
perspqrrvglm, plotdeplot.lmscreg, plotqrrvglm, plotqtplot.lmscreg,
plotvgam.control, plotvgam, 
cenpoisson,
poissonff,
dposbinom, pposbinom, qposbinom, rposbinom, posbinomial,
dposgeom, pposgeom, qposgeom, rposgeom, # posgeometric,
dposnegbin, pposnegbin, qposnegbin, rposnegbin, posnegbinomial,
dposnorm, pposnorm, qposnorm, rposnorm, posnormal, posnormal.control,
dpospois, ppospois, qpospois, rpospois, pospoisson,
qtplot.lmscreg, quasibinomialff, quasipoissonff, rdiric, rigff,
rrar, rrvglm.control,
rrvglm.optim.control)


export(eta2theta, 
rrvglm,
simplex, dsimplex, rsimplex, 
sratio, s,
studentt, studentt2, studentt3, Kayfun.studentt,
Tol, trplot.qrrvglm,
trplot,
rcqo,
cqo,
qrrvglm.control,
vgam.control, vgam, vglm.control, vglm,
vsmooth.spline,
weibull, yip88,
dzabinom, pzabinom, qzabinom, rzabinom, zabinomial, zabinomialff,
dzageom, pzageom, qzageom, rzageom, zageometric, zageometricff,
dzanegbin, pzanegbin, qzanegbin, rzanegbin, zanegbinomial, zanegbinomialff,
dzapois, pzapois, qzapois, rzapois, zapoisson, zapoissonff,
dzibinom, pzibinom, qzibinom, rzibinom, zibinomial, zibinomialff,
dzigeom, pzigeom, qzigeom, rzigeom, zigeometric, zigeometricff,
dzinegbin, pzinegbin, qzinegbin, rzinegbin, zinegbinomial, zinegbinomialff,
dzipois, pzipois, qzipois, rzipois, zipoisson, zipoissonff,
mix2exp, mix2normal, mix2poisson,
mix2exp.control, mix2normal.control, mix2poisson.control,
skewnormal, dskewnorm, rskewnorm,
tikuv, dtikuv, ptikuv, qtikuv, rtikuv)










exportClasses(vglmff, vlm, vglm, vgam,
rrvglm, qrrvglm, grc,  rcim, 
vlmsmall, cao,
summary.vgam, summary.vglm, summary.vlm,
summary.qrrvglm,
summary.cao, summary.rrvglm, 
Coef.rrvglm, Coef.qrrvglm, Coef.cao,
vcov.qrrvglm,
vsmooth.spline.fit, vsmooth.spline)


exportClasses(SurvS4)








 exportMethods(
Coef, coefficients,
constraints, 
effects,
predict, fitted, fitted.values,
resid,
residuals, show,
terms,
model.frame,
model.matrix,
summary,
coef,
AIC,
AICc,
plot,
logLik,
vcov,
deviance,
calibrate, cdf, df.residual,
lv, latvar, Max, Opt, Tol,
biplot, deplot, lvplot, qtplot, rlplot, meplot,
trplot, vplot,
formula, case.names, variable.names,
weights,
persp)


 exportMethods(AIC, AICc, coef, summary, plot, logLik, vcov)


